        <header>
            <h1>{{pageTitle}}</h1>
            <p><a href="/">Home</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/projects">Projects</a></p>
        </header>