<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>
</html>